<div id="<%= dom_id artist %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= artist.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= artist.year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nationality:</strong>
    <%= artist.nationality %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Biography:</strong>
    <%= artist.biography %>
  </p>

</div>
